@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
    --pink-principal: #E19898;
    --purple-btn: #4D3C77;
    --purple-background: #3F1D38;
    --pink-btn: #B07A8D;
    --pink-bg-input: #F9EAEA;
    --white: #ffff;
    --text-title: 3.5rem;
    --text-subtitle: 3rem;
    --text-parrafo: 1.2rem;
    --color-text: #3F1D38;
    --color-text-placeholder: #BDB2B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Jost', sans-serif;
    min-height: 100%;
    overflow: hidden;
}



h1 {
    font-size: var(--text-title);
}

h5 {
    font-size: var(--text-subtitle);
}

p {
    font-size: var(--text-parrafo);
}

a {
    text-decoration: none;
}